body {
  margin: 0 auto;
  padding: 0;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.Header {
  /*margin-top: 2%;*/
  position: relative;
}

/*.Header {
  margin-top: 2%;
  position: relative;
  background-image: url(../images/header-image.png);
  height: 515px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}*/

.Header-title{
  position: absolute;
  left: 16.3%;
  top: 17%;
  font-size: 6.5vw;
  font-family: "Sant Joan Despi";
  color: #fff;
  z-index: 1;
}

.Header-love {
  margin-top: -3%;
}


.Header-overlay{
  position: absolute;
  height: 99%;
  width: 100%;
  background-image: url(../images/header-overlay.png);
  z-index: 1;
}

.Header-subtitle {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 2.26vw;
  margin-top: 23.5%;
}

.apple-watch-image {
  position: absolute;
  top: 10%;
  right: 14%;
  width: 26%;
  height: 100%;
  background-image: url(../images/apple-watch.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.apple-store-image {
  position: absolute;
  height: 100%;
  width: 53%;
  background-image: url(../images/apple-store.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.Feature-Section {
  position: relative;
  margin: 0 auto;
  width: 410px;
  margin-top: 8px;
  border-bottom: 1px solid #E3E3E3;
  padding-bottom: 15px;
}

.Feature-title {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 28px;
  color: #25B7D3;
}

.Feature-description {
  font-family: Quicksand;
  font-size: 16px;
  color: #454545;
  margin-top: 5px;
}

.Feature-information {
  position: absolute;
  top: 40px;
  left: 135px;
  width: 289px;
  display: inline-block;
}

.tilt-image-adjust {
  margin-left: -10px;
}

.tilt-text-adjust {
  width: 206px;
}

.rotate-image-adjust{
  margin-left: -26px;
}

.rotate-text-adjust{
  width: 198px;
}

.swipe-text-adjust{
  width: 260px;
}

.Footer {
  height: 44px;
  background-color: #D8D8D8;
  text-align: center;
  color: rgba(69,69,69,0.3);
  font-size: 16px;
  line-height: 44px;
}

.Footer-content{
  font-family: Quicksand;
}

.Footer-heart {
  font-family: "Heiti SC";
  margin-left: 5px;
}